<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.mapper.ProductMapper">
	<resultMap type="com.gn.dto.Product" id="productResultMap">
		<result property="productNo" column="product_no"/>
		<result property="productName" column="product_name" />
        <result property="productPrice" column="product_price" />
        <result property="productCategory" column="product_category" />
	</resultMap>
	<select id="searchProduct" parameterType="com.gn.dto.Product" resultMap="productResultMap">
		SELECT * FROM product
		<where>
			<if test='productName != null and productName != ""'>
				AND product_name LIKE CONCAT('%', #{productName}, '%')
				<!-- where절은 불필요하면 지워서 AND를 사용하는데 혹시라도 앞쪽에 조건이 더 올수도 있기 때문에 명시적으로 표시 -->					
			</if>
			<if test='productCategory != null and productCategory != 0'>
				AND product_category = #{productCategory}
				<!-- 컬럼명 = dto 필드명 -->
			</if>
		</where>
		<choose>
			<when test='sort == 1'>
				ORDER BY product_price ASC
			</when>
			<when test="sort == 2">
				ORDER BY product_price DESC
			</when>
			<otherwise>
				ORDER BY product_no ASC
			</otherwise>
		</choose>
		
	</select>
</mapper>