<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.mapper.StudentMapper">
<!-- column -> 데이터 베이스 컬럼명, property는 dto 필드명 -->
	<resultMap id="studentResultMap" type="com.gn.dto.Student">
		<result property="studentNo" column="student_no"/>
		<result property="studentName" column="student_name"/>
		<result property="studentAge" column="student_age"/>
	</resultMap>

	<select id="selectAll" resultMap="studentResultMap">
		SELECT *
		FROM student	
	</select>
	
	<select id="selectOne" parameterType="_int" resultMap="studentResultMap">
			SELECT *
			FROM student
			<where>
				 student_no = #{studentNo}				
			</where>
	</select>
	
	<select id="selectName" parameterType="string" resultType="com.gn.dto.Student">
		SELECT student_no AS studentNo,
					student_name AS studentName,
					student_age AS studentAge
			FROM student
			WHERE student_name LIKE CONCAT ('%', #{studentName},'%')
	</select>
	
	<!-- 인터페이스의 메소드 이름이랑 같아야함 -->
	<insert id="insert" parameterType="com.gn.dto.Student">
		INSERT INTO student (student_name, student_age)
		VALUES (#{studentName}, #{studentAge})
	</insert>
	
	<update id="updateStudent" parameterType="com.gn.dto.Student">
		UPDATE student
		SET student_name = #{studentName},
			student_age = #{studentAge}
		WHERE student_no = #{studentNo}	
	</update>
	
	<delete id="delete" parameterType="com.gn.dto.Student">
		DELETE FROM student
		<where>
			 student_no = #{studentNo}
		</where>
	</delete>
</mapper>

