<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.mapper.BoardMapper">

	<resultMap id="boardResultMap" type="com.gn.dto.Board">
	    <result property="boardNo" column="board_no" />
	    <result property="boardTitle" column="board_title" />
	    <result property="boardContent" column="board_content" />
	    <result property="boardWriter" column="board_writer" />
	    <result property="regDate" column="reg_date" />
	    <result property="modDate" column="mod_date" />
	    <result property="memberId" column="member_id" />
	</resultMap>
	
	<resultMap id="attachResultMap" type="com.gn.dto.Attach">
    	<result property="attachNo" column="attach_no" />
    	<result property="boardNo" column="board_no" />
    	<result property="oriName" column="ori_name" />
    	<result property="reName" column="re_name" />
	</resultMap>

	<select id="selectBoardOne" parameterType="_int" resultMap="boardResultMap">
		SELECT B.board_no
		,B.board_title
		,M.member_id
		,B.board_content
		,DATE_FORMAT(B.reg_date, '%Y-%m-%d') AS reg_date
		FROM board B
		JOIN member M ON B.board_writer = M.member_no
		WHERE B.board_no = #{boardNo}	
	</select>
	
	
	<select id="selectAttachByBoardNo" parameterType="int" resultMap="attachResultMap">
		SELECT attach_no, board_no, ori_name, re_name
		FROM attach
		WHERE board_no = #{boardNo}
	</select>
	
	<select id="selectAttachByAttachNo" parameterType="int" resultMap="attachResultMap">
		SELECT attach_no, board_no, ori_name, re_name
		FROM attach
		WHERE attach_no = #{attachNo}
	</select>

	<select id="selectBoardList" parameterType="com.gn.dto.Board" resultMap="boardResultMap">
		SELECT B.board_no,
		       B.board_title,
		       B.board_content,
		       B.board_writer,
		       DATE_FORMAT(B.reg_date, '%Y-%m-%d') AS reg_date,
		       DATE_FORMAT(B.mod_date, '%Y-%m-%d') AS mod_date,
		       M.member_id
		FROM board B
		LEFT JOIN member M ON B.board_writer = M.member_no
		<where>
			<if test='keyword != null and keyword != ""'>
				B.board_title LIKE CONCAT('%',#{keyword},'%')
				OR M.member_id LIKE CONCAT('%',#{keyword},'%')
			</if>
		</where>
		<!-- JOIN member M ON B.board_writer = M.member_no -->
		<!-- 작성자 아이디에 부여된 member_no와 게시글의 작성자가 나일때가 같을때만 뜸 -->
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>

	<select id="selectBoardCount" resultType="_int" parameterType="com.gn.dto.Board">
		SELECT COUNT(*)
		FROM board B
		LEFT JOIN member M ON B.board_writer = M.member_no
		<where>
			<if test='keyword != null and keyword != ""'>
				B.board_title LIKE CONCAT('%',#{keyword},'%')
				OR M.member_id LIKE CONCAT('%',#{keyword},'%')
			</if>
		</where>
	</select>

	<insert id="insertBoard" parameterType="com.gn.dto.Board" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO board(board_title, board_content, board_writer)
		VALUES (#{boardTitle}, #{boardContent}, #{boardWriter})
	</insert>

	<insert id="insertAttach" parameterType="com.gn.dto.Attach">
		INSERT INTO attach(board_no, ori_name, re_name)
		VALUES (#{boardNo}, #{oriName}, #{reName})
	</insert>

</mapper>
