<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.mapper.MemberMapper">
<!-- <resultMap id='memberResultMap' type="com.gn.dto.Member">
	<result property="memberNo" column="member_no"/>
	<result property="memberId" column="member_id"/>
	<result property="memberPw" column="member_pw"/>
</resultMap> -->


<insert id="insert" parameterType="com.gn.dto.Member">
	INSERT INTO member(member_id, member_pw)
	VALUES (#{memberId}, #{memberPw})
</insert>
</mapper>